@import "fonts";
@import "config";
@import "globals";

section {
  max-width: 25rem;
  min-width: auto;
  padding: 20px 35px;
  background-color: $dark-blue;
  border-radius: 20px;

  .thank-you-container {
    display: none;
  }

  .rating-container {
    img {
      margin-bottom: 1.5em;
      padding: 10px;
      background-color: darken($light-grey, 40%);
      border-radius: 50%;
    }
  }

  h1 {
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1.5em;
  }

  .rating {
    display: flex;
    justify-content: center;
    gap: 5%;

    &-number {
      padding: 15px 22px;
    }

    .selected-rating-number {
      padding: 15px 22px;
    }
  }
}

@import "buttons";
@import "utilities";
